<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ms1_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{1,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms1_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{19,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms2_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{37,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms2_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{55,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms3_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{73,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms3_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{91,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms4_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{109,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms4_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{127,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms5_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{145,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms5_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{163,303},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms6_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{168,1},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms6_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{168,35},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms7_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{168,69},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms7_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{168,103},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms8_notSeen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{168,137},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms8_seen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{168,171},{16,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ms_seenBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,300}</string>
                <key>spriteSourceSize</key>
                <string>{165,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{165,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>seenChecker.png</string>
            <key>size</key>
            <string>{185,336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9babd2ab3950643b80d70cde7bce524b:0ae7a5557406cd4bd7a8cb70a603fd8e:1fa2922a61251ed41cbd7a07cd10fd93$</string>
            <key>textureFileName</key>
            <string>seenChecker.png</string>
        </dict>
    </dict>
</plist>
